body {
    /*Add attributes to body, add background image*/

	font-size: 14px;
	font-family: "微软雅黑";
    background-color: #f4f4f4;

}
span {
    /*Retouching of content fonts*/
    display: inline-block;
    background-color: #ff000000;
    width: 200px;
    font-size: 25px;
    color: #ECE3E3;
    text-align: center;
    letter-spacing: 5px;
    /* Colorful modules with text to make the website more design-oriented */
}



span:nth-child(2n) {
    /*Content font association, 2n color for change*/
    background-color: #6992c7
        /* The second style color addition */
}


.acc {
    /*Setup Box*/
    height: 400px;
    /*Absolute positioning, go where you want to go*/

}

center {
    overflow: hidden;
    /* Background color and display style of centered content */
}

div.begin {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    /* Style setting of the navigation bar */
}

html,body,div,ul,li,a{
	margin: 0px;
	padding: 0px;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	height: 50px;
	background: #0080ff81;
}
.header .nav{
	width: 1000px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	position: relative;
	z-index: 111;
}
.header .nav li{
	float: left;
	width: 14.28%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.header .nav li a{
	color: #fff;
}
.header .nav li .second-nav{
	width: 150px;
	display: none;
	position: relative;
}
.header .nav li .second-nav li{
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #00c3ff94;
	border-top: 1px solid #00c3ff94;
}
.header .nav li .second-nav li .third-nav{
	/*position: absolute;*/
	width: 150px;
	height: 200px;
	display: none;
	margin-left: 100%;
	margin-top: -40px;
}
.introduction_homepage {
	margin-top: 20px;
	width: 1320px;
	margin-left: 50px;
	padding: 20px;
	border: 2px solid #bee8f6;
	border-radius: 10px;
	font-size: 28px;
	line-height: 2;
	text-align: justify;
	background-color: #f9f9f9;
	box-shadow: 2px 2px 10px #999999;
	font-family: Arial, sans-serif;
	margin-bottom: 100px;
	color: #333;
  }

  .introduction_homepage p{
	margin: 15px;
	padding: 20px;
	text-indent: 20px;
  }

  /* set css for AI_index_1 picture */
#Image_left{
	float: left;
	margin-right: 20px;
  }

/*Outermost container style*/
.wrap{
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    margin: auto;
    /*Change left, right, up, down, picture square movement*/

}
/*Wrapping all container styles*/
.cube {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-80deg);
    animation: rotate 20s infinite;
    /*Uniform speed*/
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotateX(0deg) rotateY(0deg);}
    to {transform: rotateX(360deg) rotateY(360deg);}
}

.cube div{
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.8;
    transition: all .4s;
}
/*Define all image styles*/
.pic2{
width: 200px;
height: 200px;
}

.cube .out_front{
    transform: rotateY(0deg) translateZ(100px);
}
.cube .out_back{
    transform: translateZ(-100px) rotateY(180deg);
}
.cube .out_left{
    transform: rotateY(90deg) translateZ(100px);
}
.cube .out_right{
    transform: rotateY(-90deg) translateZ(100px);
}
.cube .out_top{
    transform: rotateX(90deg) translateZ(100px);
}
.cube .out_bottom{
    transform: rotateX(-90deg) translateZ(100px);
}
/*Defining the small square style*/
.cube span {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.cube .in_pic{
    width: 100px;
    height: 100px;
}
.cube .in_front{
    transform: rotateY(0deg) translateZ(50px);
}
.cube .in_back{
    transform: translateZ(-50px) rotateY(180deg);
}
.cube .in_left{
    transform: rotateY(90deg) translateZ(50px);
}
.cube .in_right{
    transform: rotateY(-90deg) translateZ(50px);
}
.cube .in_top{
    transform: rotateX(90deg) translateZ(50px);
}
.cube .in_bottom{
    transform: rotateX(-90deg) translateZ(50px);
}
/*Style on mouseover*/
.cube:hover .out_front{
    transform: rotateY(0deg) translateZ(200px);
}
.cube:hover .out_back{
    transform: translateZ(-200px) rotateY(180deg);
}
.cube:hover .out_left{
    transform: rotateY(90deg) translateZ(200px);
}
.cube:hover .out_right{
    transform: rotateY(-90deg) translateZ(200px);
}
.cube:hover .out_top{
    transform: rotateX(90deg) translateZ(200px);
}
.cube:hover .out_bottom{
    transform: rotateX(-90deg) translateZ(200px);
}

